   .adDiv { display: none;}

   .printonly {
	display: none;
   }
   
   .addt   { margin-left: 135px;
              margin-top: .4em;  
              margin-bottom: .8em;
        }


	.after 	  {margin-top: .4em}
	
	.after2 	  {margin-top: 1em}
	
	.after3 	  {margin-top: 1.4em}	
	
	.after5 	  {margin-top: .5em}	
	
	.after66 	  {margin-top: .6em}	
	
	.after8 	  {margin-top: .8em}	
	
        .after6 	  {margin-top: 1.6em}	
        
	
	.afterT  { margin-top: .7em;
				text-indent: 0
				}

	.algTop	{ color: #990000;
				font-size: 14pt;
				text-indent: 0;
				font-weight: 500;
			  font-family: Verdana, sans- serif;
			  }	
			  
	.aLink { color: #993333}
	
	.ans  { background-color: transparent;
               color: #008855;
                font-size: 15pt;
		font-weight: 700;
		text-indent: 0;
				}
				
	.ansR  { background-color: transparent;
                 color: #008855;
                 font-size: 15pt;
		 font-weight: 700;
		 text-indent: 0;
		 text-align: right;
				}				
				
	.ans14  { background-color: transparent;
            color: #008855;
            font-size: 14pt;
				font-weight: 700;
				text-indent: 0;
				}				
				
				
	.ans1  { background-color: transparent;
            		color: #008855;
            		font-size: 1pt;
			text-indent: 0;
				}					
				
	.ans13  { color: #008855;
            		font-size: 13pt;
			font-weight: 700;
				}				
				
	 .ans2  { background-color: transparent;
				font-size: 2pt;
				font-weight: 500;
				text-indent: 0;
				color: #008855;
				}
				
	.ans4  { background-color: transparent;
            color: #008855;
            font-size: 4pt;
				font-weight: 700;
				text-indent: 0;
				}					
				
	.ansC  { background-color: transparent;
            	      color: #008855;
		      font-weight: 700;
			text-indent: 0;
			text-align: center;
			margin-top: .5em;
				}	
				
	.ansLafter { background-color: transparent;
            	      color: #008855;
		      font-weight: 700;
			text-indent: 0;
			margin-top: .7em;
				}					
				
	.ansFrac { text-indent: 0;
	           margin-left: 10%;
	           color: #008855;
				font-weight: 700;
				}
				
	.ansLink {color: #008855}
	
	.answer  { font-weight: 700;
		   margin-top: .4em;
		   margin-left: 7%;
		   text-indent: 0;
		   color: #008855;        
	           }	
	           
	 .arial {font-family: arial, sans-serif;
	           font-size: 12pt;
	           font-weight: 700;
	           }
	           
	 .appborder  {  border-style: solid;
             border-width: .4em;
             border-color: #009900;
			 margin: 0em;
			 } 
			 
	.apptext { font-size: 14pt; 
	           margin: 1.2em 3% .8em 5%;
	           font-family: verdana;
	           }
	           
	.apptext2 { font-size: 13pt; 
	           margin: 1.6em 3% 0em 9%;
	           font-family: verdana;
	           text-indent: 0;
	           }           
	           
	.blue {color: #000066 }
	
	.blueBold    { font-weight: 700;
					color: #00008b;
					 text-align: center;
					text-indent: 0;
					font-family: Garamond, serif;
					font-size: 15pt;
					margin-top: 1em;
				   }	
				   
	.blueBld    { font-weight: 700;
					color: #00003e;
					font-family: Garamond, serif;
					font-size: 15pt;
				   }				   
	
	.blueV	{ color: navy;
				font-family: Verdana, sans-serif
				}
				
	.blueVbold	{ color: navy;
				font-family: Verdana, sans-serif;
				font-weight: bold;
				}			
	
	.blue2 {color: #3366FF }
	
	.blue44		{ color: #4400CC  }
	
	.Bblue  { color: #0000FF  }
	
	.blue33FF  { color: #0033FF  }
	
	.blue66  { color: #000066  }	
	
	.blueCC	{color: #0000CC }
	
	.blue99em	{color: #000099;
	             font-weight: 700;	}
	             
	 .blueDon {color: #00009f;
	          }            
	
	.blueEm	{color: #3300CC }
	
	.blue5E	{ color: #00005E  }
	
	.blueQ	{ color: #00007f;
	          font-weight: bold;
	          font-size: 12pt;
	              }	

	.blueCC	{color: #1F00CC }   

	.RBblue  { color: #3300FF  }
	
	.Rblue  { color: #11008B  }
	
	.RblueBold	{ color: #11008B;
				  font-weight: 700;
				  }
				  

	.bold	{ font-weight: 700 }
	
	.border  { border-width: 3px;
				border-color: #0066FF;
				border-style: solid;
				text-align: center;
					 }
					 
	.border2  { border-width: 3px;
				border-color: #0066FF;
				border-style: solid;
					 }	
					 
	.bott  {
	vertical-align: text-bottom;
                }				 
					 
	.brick  {color: #900000 } 
	
	.brick2	{ color: #990033  }
	
	.brick3	{ color: #990066  }
	
	.brick4	{ color: #440000  }

	.brickBold  { color: #900000;
				   font-weight: 700; }
				   
	.brickBoldV  { color: #900000;
				   font-weight: 500;
				   font-family: Verdana, sans-serif;
				   font-size: 14pt;
				   text-align: center;
				   text-indent: 0;
				   margin-top: 1em;
				   }
				   
.brickBoldV2  { color: #900000;
				   font-weight: 500;
				   font-family: Verdana, sans-serif;
				   font-size: 14pt;
				   text-align: center;
				   text-indent: 0;
				   margin-top: 1em;
				   }				   
				   
	.brown		{ color: #993300  }	
	
	.capital      {font-size: 19pt;
	                font-weight: 500;}
	                
.cell
{
	border-spacing:0;
	padding:0;
	margin-top: 0;
}	                
	
	
   .center   {   text-align: center;
				text-indent: 0;
				margin-top: .4em; 
				margin-bottom: 0;}
				
.centerTD
{
	text-align:center;
}

.centerT
{
	margin-left:auto;
	margin-right:auto;
}

.centerTT
{
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
}

.centerW
{
	border-spacing:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	width:590px;
}

.centerW5
{
	border-spacing:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	width:595px;
}
				
	 .center0   {   text-align: center;
				text-indent: 0;
				margin-top: 0; }			
				
	.center16   {   text-align: center;
				text-indent: 0;
				font-size: 16pt;
				margin-top: .6em;
				}	
				
	.center6   {   text-align: center;
				text-indent: 0;
				margin-top: .8em;
				}
				
	.center8   {   text-align: center;
				text-indent: 0;
				margin-top: .6em;
				}				
				
	.center2   {   text-align: center;
				text-indent: 0;
				margin-top: .2em }
				
	.center1   {   text-align: center;
				text-indent: 0;
				margin-top: 1em }				
				
	.centerT   {margin-left:auto;
	            margin-right: auto;}
	            
	.centerTT   {margin-left:auto;
	            margin-right: auto;
	            padding: 0;
	            border-spacing: 0}		            
	            
	 .cntr {text-align:center;}   
	
	body {text-align:center;}
				
	.color1  { color: #ff6600 }
	
	.color1a  { color: #ff3300 }
	
	.color2  { color: #3399cc }
	
	.color3  { color: #cc3366 }
		
	.color4  { color: #009966 }
	
	.color5  { color: #cc6600 }
	
	.color6  { color: #cc3333 }
	
	.color7  { color: #4444ff }
	
	.color7a  { color: #2222ff }
		
	.color8  { color: #ff6699 }
	
	.color9  { color: #009933 }	
	
	.color10  { color: #660000 }
	
	.color11  { color: #0033ff }
				
	.cont  {	text-indent: 0;
               margin-left: 1.5em;
               margin-top: 1em;
               font-family: arial, sans-serif;
               color: #990000;
               font-weight: 700;
               font-size: 13pt;
			}
			
	.cont2	{ color: #990000; 
					font-weight: 700;
				  font-size: 13pt;
				 font-family: Verdana, sans-serif; 
				  }				
			
	.contQ { margin: .7em 3em 0 4.5em;
			 font-family: verdana, sans-serif;
			 text-indent: 0;
			 color: #660000;
			 font-size: 11pt;
			 font-weight: 700;
			 }	
			 
	.contBorder  {  border-style: solid;
             border-width: 5px;
             border-color: #dd0000;
			 margin: .1em;
			 }	
			 
	.contH	{ color: #336699; 
			  font-weight: 500;
			  font-size: 17pt;
				  }						  
			
	.contZ  {	font-weight: 700;
               font-size: 18pt;
               color: #f9FFFF
			}			
			
	.cont2nd  {	margin: 0 0 0 0;
               text-indent: 122px;
               font-family: Garamond, serif;
               padding-right: .7em;
               padding-left: .6em;
               color: #00BB00;
               font-weight: 700;
               font-size: 18pt;
			}			
			
.contHome {color: #336699;
			font-size: 18pt;
			font-weight: 500;
			font-family: Garamond, serif;	
			 }				
			
.contTbl { color: #00A399; 
					font-weight: 700;
				  font-size: 18pt;
				 font-family: Garamond, serif; 
				  }	
			
	.copy		{ color: #220077;
				  text-indent: 0;
				  }

	.copy1	{ color: #220077;
				  text-indent: 0;
				  margin-top: .6em;
				  }
				  
	.copyE		{ color: #550055  }
	
	.copyT
	{
	       margin-top:.3em; 
	       text-indent:0; 
	       font-size:17pt; 
	       color:#008;
	 }
	
	.darkRed   { color: #990000  }
	
	 .defBorder  {  border-style: solid;
	             border-width: 4px;
	             border-color: #fF6600;
				 margin: .1em;
			 }
			 
	.DefBorderAnl  {  border-style: solid;
	             border-width: 3px;
	             border-color: #fF6600;
				 margin: 5px 150px;
				 padding: 10px
			 }		
			 
		.display   {margin-left: 14%;
	            margin-right: 14%;
	            margin-top: .6em;
	            margin-bottom: .5em;
		    font-family: Garamond, serif;
		    font-style: italic;
	            font-size: 16pt;
	            text-indent: 0;
	            }		 
	
	.displayV   {margin-top: .7em;
	            margin-bottom: .5em;
				font-family: verdana, sans-serif;
				font-style: italic;
				font-size: 13pt;
	            text-indent: 0;
	            font-weight: 500;
	            color: #000080;
	            }
	            
	.displayGar   {margin-left: 12%;
	            margin-right: 12%;
	            margin-top: .7em;
	            margin-bottom: .5em;
				font-family: Garamond, serif;
				font-size: 15pt;
	            text-indent: 0;
	            }            
	            
	.display2   {margin-top: .5em ;
				 margin-bottom: .6em;
				 margin-left: 102px;
				font-family: Garamond, serif;
				font-style: italic;
				font-size: 15pt;
	            text-indent: 0;
	           }	
	           
	.displayShow   {margin-left: 10%;
	            margin-right: 10%;
	            text-indent: 0;
	            
	            } 
	            
	.display3  {   margin-top: .6em;
	            	    font-size: 16pt;
	            	    text-indent: 0;
	                  font-style: italic;
	            }  
	            
	 .display4   {text-align: center;
	            margin-top: .5em;
	            margin-bottom: .5em;
		    font-family: Garamond, serif;
		    font-style: italic;
	            font-size: 16pt;
	            text-indent: 0;
	            }		            

	.dkGreenBold	{ color: #006400;
					   font-weight: 700;
					   }

	.dkGreen		{ color: #006600 }
	
	.dkGreen2		{ color: #006666 }
	
	.doc  {     font-size: 15pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}
					
	.docT
{
	color:#006;
	font-family:Garamond, serif;
	font-size:15pt;
	vertical-align:top;
}

.docR
{
	color:#006;
	font-family:Garamond, serif;
	font-size:15pt;
	text-align:right;
}
				
					
					
	.doc600  {     font-size: 15pt;  
               font-family: Garamond, serif;
               font-weight: 700;
					}	
					
	.doc1  {     font-size: 1pt;  
               font-family: Garamond, serif;
                 margin-bottom: 0;
					}				
					
	.doc2	{ font-size: 2pt; 
			font-family: Garamond, serif;
				}	
				
 	.docAlg  { font-weight: 500;
	           color: #004466;
	           font-size: 15pt;
	           }	
	           
	.docAlg2  { font-weight: 700;
	           color: #004466;
	           font-size: 15pt;
	           }	           
				
	.doc4Ans	{ font-size: 4pt; 
			font-family: Garamond, serif;
			color: green;
			background-color: #F5FFFF;
	         }
			
	.doc4	{ font-size: 4pt; 
			font-family: Garamond, serif;
				}				
					
	.doc6	{ font-size: 6pt; 
			font-family: Garamond, serif;
				}
				
	.doc8	{ font-size: 8pt; 
			font-family: Garamond, serif;
				}								
					
	.doc10  {     font-size: 10pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}	
					
	.doc11  {     font-size: 11pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}						
					
	.doc12  {     font-size: 12pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}	
					
	.doc12Grn  { font-size: 12pt;  
		   font-family: Garamond, serif;
		   color: #008855;
		   font-weight: 700;
					}			
									
	.doc13  {     font-size: 13pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}
					
									
	.doc13R  {     font-size: 13pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
               text-align: right;
	}					
					
	.doc14  {     font-size: 14pt;  
               font-family: Garamond, serif;
               font-weight: 500;
		 color: #000066;	
		 }	
		 
					
	.doc14R  {     font-size: 14pt;  
               font-family: Garamond, serif;
               font-weight: 500;
		 color: #000066;
		 text-align: right;
		 }		 
					
	.doc16  {     font-size: 16pt;  
               font-family: Garamond, serif;
               font-weight: 500;
		color: #000066;		}
		
	.doc16R  {     font-size: 16pt;  
               font-family: Garamond, serif;
               font-weight: 500;
		color: #000066;
		text-align: right;		
		}
							
	.doc17  {     font-size: 17pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}	
					
	.doc24  {     font-size: 24pt;  
               font-family: Garamond, serif;
               font-weight: 500;
               color: #000066;
					}					
					
	.docBlue  {     font-size: 15pt;  
        	       font-family: Garamond, serif;
				color: #00008B;
				font-weight: 500;
					}
					
	.docBlueCC  {     font-size: 15pt;  
        	       font-family: Garamond, serif;
				color: #0000CC;
				font-weight: 500;
					}				
					
	.docBlueBold  {     font-size: 15pt;  
        	       font-family: Garamond, serif;
			color: #00008B;
			font-weight: 700;
					}	
					
	.docBlueBoldV  {     font-size: 12pt;  
        	       font-family: Verdana, sans-serif;
			color: #00008B;
			font-weight: 700;
			}
			
	.docBlueBoldVR  {     font-size: 12pt;  
        	       font-family: Verdana, sans-serif;
			color: #00008B;
			font-weight: 700;
			text-align: right;
			}			
					
	.docGrn  { 	font-size: 15pt;  
				font-family: Garamond, serif;
				color: #008855;
				font-weight: 700;
					}
					
	.docBr{ 	font-size: 15pt;  
				font-family: Garamond, serif;
				color: #8b0000;
				font-weight: 500;
					}	
					
	.doc88{ 	font-size: 15pt;  
				font-family: Garamond, serif;
				color: #880000;
				font-weight: 500;
					}					
					
	.doc99  { 	font-size: 12pt;  
				font-family: Verdana, sans-serif;
				color: #000099;
				font-weight: 500;
					}	
	
   .docZ  {     font-size: 15pt;  
	               font-family: Garamond, serif;
						color: #f9ffff;
						}
						
.docZV {     font-size: 13pt;  
	               font-family: Verdana, sans-serif;
						color: #f9ffff;
					}
					
  .docZGr {     font-size: 15pt;  
	               font-family: Garamond, serif;
			color: #f9ffff;
			font-weight: 700;
						}	
						
						
	.donations1      { font-family: Verdana, sans serif;
				  font-size: 13pt;
				  color: #000088;
				  text-indent: 0;
				  font-style: italic;
				  margin-top: .4em;
				  margin-left: 16%;
				  }	
						
	.donations2      { font-family: Verdana, sans serif;
				  font-size: 13pt;
				  color: #000088;
				  text-align: center;
				  text-indent: 0;
				  font-style: italic;
				  margin-top: .6em;
				  margin-bottom: 0;
				  }						
					
	.emV	{ color: #8b0000;	
			  font-family: Verdana, sans-serif;
				 font-size: 13pt;
			 } 
					
	.emphasis  {font-style: italic;
	             font-size: 16pt;
	             text-align: center;
		     text-indent: 0;
		     margin-top: .4em;
				 }
				 
	.emphasis2  {font-style: italic;
	             font-size: 16pt;
	             text-indent: 0;
				 }	
				 
	.emphasisBl  {font-size: 17pt;
	                       color: #0000cc;
				 }					 
	
	.end		{ color: #550088;
	                 text-align: center;
			text-indent: 0;
			margin-bottom: .8em;
			margin-top: .8em;
				 }
				 
	.endLink	{ color: #0000CC;
					}
					
	.endLink2	{ color: #0000CC;
			font-size: 13pt;
					}					
					
	.endTop	   { color: #0000CC;
				 font-weight: 500;
				 font-size: 16pt
				 }				
				 
	.endP		{ color: #550022;
	              text-align: center;
					text-indent: 0;
					margin-top: 2em;
				 }
				 
	.ex			{ color: #AF0000;
				  font-weight: bold;
				   }							 

	.example     { text-indent: 0;
			margin-left: .7em;
			margin-top: .8em;
					}
					
	.example1     { text-indent: 0;
			margin-left: .7em;
			margin-top: 1em;
					}					
					
	.exZ { font-weight: bold;
						color: #F9FFFF;
						}
	
	.exp		{ font-size: 80%;  
	           	font-family:  serif;
	                   }
	                   
	.exp1		{ font-size: 100%;  
	           	font-family:  serif;
	                   }
	                   
	.exp11		{ font-size: 110%;  
	           	font-family:  serif;
	                   }                   
	                   
	                   
	 	.exp8		{ font-size: 80%;  
	           	font-family:  serif;
	                   }   
	                   
	 	.exp82		{ font-size: 82%;  
	           	font-family:  serif;
	                   }   	                   
			  
	.first	{text-indent: 0;
		margin-left: 2%;
		font-family: Garamond, serif;
		font-size: 17pt;
		margin-top: .8em;
			}
			
			
			
	.first1	{text-indent: 0;
		margin-left: 2%;
		font-family: Garamond, serif;
		font-size: 16pt;
		margin-top: 1em;
			}	
			
	.firstC			{ 	text-indent: 0;
					font-family: Garamond, serif;
					font-size: 16pt;
					text-align: center;
						}						
						
						
						
	.fontsz4 	{ font-family: Garamond, serif;
				  font-size: 5pt; 
			  }					
						
	.fontsz6 	{ font-family: Garamond, serif;
				  font-size: 6pt; 
			  }					
	
	.fontsz8 	{ font-family: Garamond, serif;
				  font-size: 8pt; 
			  }
			  
	.fontsz10 	{ font-family: Garamond, serif;
				  font-size: 10pt; 
			  }		  
			  
   .frac 	{ font-family: Garamond, serif;
			  font-size: 10pt; 
			  }
			  
	.frac2 	{ font-family: Garamond, serif;     
			  font-size: 12pt; 
			  }
			  
	.frac3 	{ font-family: Garamond, serif;     
			  font-size: 13pt; 
			  }	
			  
	.frac3br 	{ font-family: Garamond, serif;     
			  font-size: 13pt;
			  color: #8b0000;
			  }			  
			  
	.frac3gr 	{ font-family: Garamond, serif;
			  font-size: 13pt;
			  font-weight: bold;
			  color: #008855;
			  }		
			  
	.frac2Z 	{ font-family: Garamond, serif;     
			  font-size: 12pt;
			  color: #f9ffff;
			  }		  
			  
	.frac2br 	{ font-family: Garamond, serif;
			  font-size: 12pt;
			  color: #990000;
			  }
			  
       .graph  { color: #cE00CE;
                  font-weight: 700;
                  font-size: 15pt;
                  margin-left: 0;
                  text-indent: 0;
                  margin-top: .7em;
                  }			  
			  
	.greek	{ font-size: 14pt;
			  font-style: italic;
			  font-weight: 500;
			  }
			  
	.greek600	{ font-size: 14pt;
			  font-style: italic;
			  font-weight: 700;
			  }		  
			  
	.greekBl	{ font-size: 16pt;
			  font-style: italic;
			  font-weight: 700;
			  color: #0000FF;
			  }	
			  
	.greekCC	{ font-size: 16pt;
			  font-style: italic;
			  font-weight: 700;
			  color: #00CC00;
			  }			  
			  
	.greekGr	{ font-size: 14pt;
			  font-style: italic;
			  font-weight: 700;
			  color: #008855;
			  }		  
		
	.green   { color: green;
	           font-weight: 700;
	           font-family: Garamond, serif;
	           font-size: 15pt
	           }
	           
	.green500	{ color: green;
	           font-weight: 500 }           
			   
     .grn    { color: #009933 }
     
     .grnBold    { color: #008855;
     			   font-weight: 700;
     			   font-size: 15pt;
     			   }
     
     .grn2    { color: #008855 }
     
     .grn2Bold    { color: #008855;
     			font-weight: 700;
     			font-size: 15pt;
     	}
     	
     .grn2BoldL    { color: #008855;
     			font-weight: 700;
     			font-size: 15pt;
     			text-indent: 0;
     			margin-top: 0;
     			margin-left: 0
     	}	
     	
     .green2  { color: #00CC00  }

	.GGreen   { color:  #006600  }
	
	.greenAA  { color: #00AA00  }
	
	.greenFF  { color: #00FF00  }
	
	/*.hide  { background-color: #FFC0CB;
				color: #fFC0CB;
				}
				
	Originally, FFCODD	*/		
				
					
	.hide  { background-color: #FFC0DD;
				color: #FFC0DD;
				font-family: Garamond, serif;
				}
						
	.hideC  { background-color: #FFC0DD;
		  color: #FFC0DD;
	          font-family: Garamond, serif;
	          margin-left: auto;
	          margin-right: auto;
				}			
					
	.show  { background-color: transparent;
            	 color: #008855;
		 font-weight: 700;
		font-family: Garamond, serif;
		font-size: 15pt;
		}
				
	.showC  { background-color: transparent;
            	  color: #008855;
		font-weight: 700;
		font-size: 15pt;
		font-family: Garamond, serif;
		 margin-left: auto;
	          margin-right: auto;		
				}				
				
	.showV  { background-color: transparent;
            		color: #008855;
				font-weight: 700;
				font-size: 11pt;
				font-family: verdana, sans-serif}				

				
	.hideGif  { background-color: #008855;
				color: #008855;
				}
					
	.showGif	 { background-color: transparent;
					color: #008855;
					font-weight: 700;
						font-size: 15pt;
				font-family: Garamond, serif 
				}
				
				
	.hideGifC  { background-color: #008855;
		     color: #008855;
		    margin-left: auto;
	          margin-right: auto;		
				
				}
					
	.showGifC	 { background-color: transparent;
			   color: #008855;
			   font-weight: 700;
			   font-size: 15pt;
			   font-family: Garamond, serif;
			    margin-left: auto;
	                    margin-right: auto;	
				}				
		
	.hideGraph  { background-color: #CE00CE;
			text-indent: 0;
			margin-top: .7em;
				}					
				
	.show2  { background-color: transparent;
            color: #008855;
				font-weight: 500;
				font-size: 15pt;
				font-family: Garamond, serif;
				text-indent: 0
				}	
				
	.show14  { background-color: transparent;
                 color: #008855;
				font-weight: 700;
				font-size: 14pt;
				font-family: Garamond, serif;
				text-indent: 0
				}	
				
	.show13  { background-color: transparent;
                 color: #008855;
				font-weight: 700;
				font-size: 13pt;
				font-family: Garamond, serif;
				text-indent: 0
				}				
				
	.showC  { background-color: transparent;
            color: #008855;
				font-weight: 700;
				font-size: 15pt;
				font-family: Garamond, serif;
				text-indent: 0;
				text-align: center;
				}
				
	.showZ  { background-color: transparent;
            color: #f3FFFF;
				font-weight: 500;
				font-size: 15pt;
				font-family: Garamond, serif;
				}
				
	.showEx { color: #008855;
				font-weight: 700;
				font-family: serif;
				font-size: 12pt;
				}				
				
	.hideBl  { background-color: #0000CC;
				color: #0000CC;
				
				}	
				
	.showBl { background-color: transparent;
            color: #0000CC;
				 font-family: Verdana, sans-serif;
				 font-size: 14pt;
				font-style: italic;
				}	
				
	.showBl2 { background-color: transparent;
            color: #003399;
				 font-family: Verdana, sans-serif;
				 font-size: 13pt;
				}				
				
	.see 	{ background-color: #F3FFFF;
            color: #000000;
				font-weight: 500;
				font-size: 15pt;
				font-family: Garamond, serif}			
	
	.home {color: #0066CF;
			font-size: 18pt;
			font-weight: 500;
			font-family: Garamond, serif;	
			 }	
			 
.hor  
{
         text-align: center;
          margin-top: .8em;
          width: 96%;
}
			  
.hor2	 {text-align: center;
			  margin-top: .6em;
			  }			  
			  
	.horP	 {text-align: center;
			  margin-top: .5em;
			  }		  
			  
	.horCont	 {text-align: center;
			  margin-top: .8em;
			  color: #880000;
			  }	  
			  
	.hotPink  { color: #FF0099  }	
	
	.hotPink2  { color: #FF0066  }
	
	.hotPink3  { color: #FF3399  }
	
	.hotPink4  { color: #FF00CC  }
	
	.indexBorder  { border-color: #fF0000;
				    border-style: solid;
				    border-width: 4px;
				    }
	
	.inline     {display: inline;
                vertical-align: baseline; }
				
   .Lafter   { text-indent: 0;
	            margin-top: .4em; }
	            
  .Lafter1  { text-indent: 0;
	            margin-top: 1em; }
	            
  .Lafter2  { text-indent: 0;
	            margin-top: 1.2em; }	            
	            
 .Lafter5  { text-indent: 0;
	            margin-top: .5em; }	
	            
 .Lafter6  { text-indent: 0;
	            margin-top: .6em; }	            
	            
 .Lafter8  { text-indent: 0;
	            margin-top: .8em; }	            
	            
	.left	 { text-indent: 0;
				}            
	            
	.left0	 { text-indent: 0;
				margin-top: 0;
				}
				
	.left-align  { float: left; }  			
				
	.leftA   { text-indent: 0;
	            margin-top: .6em; }		
	            
	  .level2     {color: #993333;
                          text-align: center;
                          text-indent: 0;
                          font-weight: 500;
                          font-size: 14pt;
                          font-family: arial, sans-serif;
                          }           
	            
	.link1  { font-family: Arial , sans-serif;
   		  margin-bottom: 0;
		margin-top: .6em;
		font-size: 14pt;
               font-weight: 500;
               font-style: normal;
               text-indent: 0; 
               }	
               
	.link2  { margin-bottom: .6em;
		margin-top: 1em;
		font-size: 13pt;
               font-weight: 700;
               text-indent: 0; 
               text-align: center;
               font-family: Arial , sans-serif;
               color: #993333;
               }	
               
	.link2a { margin-bottom: .6em;
		margin-top: 1.2em;
		font-size: 14pt;
               font-weight: 500;
               font-family: Arial , sans-serif;
               color: #993333;
               }	               
               
 	.link3  { margin-top: 1em;
		font-size: 13pt;
               font-weight: 700;
               font-style: normal;
               text-indent: 0; 
               font-family: Arial , sans-serif;
               }	
               
   	.link3a  { margin-top: .2em;
		font-size: 13pt;
               font-weight: 700;
               font-style: normal;
               text-indent: 0; 
               font-family: Arial , sans-serif;
               }	            
				
	.link  { font-family: Arial , sans-serif;
   		margin-bottom: 0;
	        margin-top: .2em;
		font-size: 14pt;
               font-weight: 500;
               font-style: normal;
               text-indent: 0; 
               }				
				
    .mathpage  { color: #003388;
    	         font-family: BethHand,sans-serif;
    	         font-size: 36pt;
    	         text-align: center;
    	         text-indent: 0;
    	         font-weight: 500;
    	         }
    	         
	.mauve	{ color: #6633CC }
	
	.mauve2	{ color: #6633FF }
	
   .note  {   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
					text-indent: 0;
					margin: .8em 15% 0 15%;
					color: #000066;
                }
                
                
   .note2  {   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
					text-indent: 0;
					margin: 0 15% 0 15%;
                }               
                
                
  .noteFr  {   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
			   	color: #000066;
                }
                
     
                
  .note3  {   font-size: 12pt;
			   	font-family: Verdana, sans-serif;
					text-indent: 0;
					margin-top: 1em;
					margin-right: 12%;
					margin-left: 12% ;
                }               

   .noteC  {   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
					text-indent: 0;
					text-align: center;
					margin-top: .4em;
					margin-bottom: .4em;
					margin-left: 15% ;
					margin-right: 15% ;
                }
				
	.noteAfter {   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
					text-indent: 0;
					margin-left: 15%;
					margin-right: 15%;
					margin-top: .6em;
                }
				
	.Pnote	{   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
					text-indent: 0;
					margin: .3em 15%;
                }
                
        	.Fnote	{   font-size: 10pt;
			   	font-family: Verdana, sans-serif;
			   	color: #000066;
				}		        
                                
            	.Vnote	{   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
			   	color: #000066;
				}

	.VnoteInv	{   font-size: 11pt;
			   	font-family: Verdana, sans-serif;
					color: #FFFFDD;
				}
				
	.ochre		{ color: #CC9900  }	
	
	.optional	{ font-family: Verdana, sans serif;
					  font-size: 13pt;
					  text-align: center;
					  text-indent: 0;
					  margin-top: 1em;
				  }
				
	.orange	{ color: #FF6600; }
	
	.orange2	{ color: #CC3300  }
	
	.orange3	{ color: #FF6633; }
	
	.orange4	{ color: #CC6600  }
	
	.orange5	{ color: #FF9900  }
	
	.orange6	{ color: #FF3300  }
	
	.orange7	{ color: #FF6666  }

	P  {	margin: .1em .6em;
			text-indent: 5%;
			font-size: 15pt;
			font-family: Garamond, serif;
			font-weight: 500;
			line-height: 1.2em;
			color: #000066;
			} 
			
		            
	.link1  { font-family: Arial , sans-serif;
   		  margin-bottom: 0;
		margin-top: .6em;
		font-size: 14pt;
               font-weight: 500;
               font-style: normal;
               text-indent: 0; 
               }			
	.pi	{	font-size: 16pt; 
			font-family: Garamond, serif;
			font-weight: 400; 
	}	
	
	.piGr	{	font-size: 16pt;
				font-family: Garamond, serif;
				font-weight: 700;
			}
			
	.pink		{ color: #FFB0DD }		
			
	.pinkish		{ color: #cc3366  }
	
	.pinkish2		{ color: #cc3399  }

	.pointBold  { color: #990000;
				  font-weight: 700;
				 }
				 
	.preface		{ 	text-indent: 0;
						margin-left: 4%;
						font-family: Verdana, sans-serif;
						font-size: 12pt;
						color: #000066;
						}				 
				 
	.prefaceCont { font-size: 16pt;
	               margin: .6em 10% 0 15%;
	               text-indent: 0;
	               font-weight: 700;
	                 }			 
						
	.prob  { color: #008855;
	           font-weight: 700;
	           
	           }	
	           
	.purple	{ color: #660066  }
	
	.purple2  { color: #660099  }
	
	.purple2a  { color: #990099  }
	
	.purple3  { color: #9900FF  }
	
	.purple4  { color: #CC00FF  }
	
	.purple5  { color: #330066  }
	
	.purple6	{ color: #CE00CE  }
	
	.purple6a	{ color: #FF00FF  }
	
	.purple7	{ color: #6600FF  }
	
	.purple8	{ color: #6633FF  }
	
	.purple9	{ color: #CC33FF  }
	
	.purple10	{ color: #CC0099  }
	
	.purple11	{ color: #990066  }
	
	.question	{ color: #0033aa;
				 text-indent: .2em;
				 margin-top: 1.2em;
				 font-family: Verdana, sans-serif;
				 font-size: 13pt;
					}
					
	.qZ	{ color: #f3FFFF;
				 font-family: Verdana, sans-serif;
				 font-size: 13pt;
					}				
	
.questionC	{ color: #0033aa;
				 text-indent: 0;
				 margin-top: .6em;
				 font-family: Verdana, sans-serif;
				 font-size: 12pt;
				 font-weight: 700;
				 text-align: center;
	}	
	
.questionL	{ color: #0033aa;
				 text-indent: .4em;
				 margin-top: .5em;
				 font-family: Verdana, sans-serif;
				 font-size: 13pt;
	}		
	
.question2	{ color: #003399;
				 text-indent: 0;
				 margin-top: 0em;
				 margin-left: 2.5em;
				 font-family: Verdana, sans-serif;
				 font-size: 13pt;
	}		
	
.questionL	{ color: #003399;
				 text-indent: 0;
				 margin-top: .8em;
				 font-family: Verdana, sans-serif;
				 font-size: 13pt;
	}		
	
	.red 	{color: #CC0000;
   				 font-weight: bold;
				 }	
				 
	.red77	{ color: #770000;
				   }			 
				 
	.red88	{ color: #880000;
				   }
	.red1	{ color: #CC0000  }

   .red2   {color: #FF0033}
   
   .red3	{ color: #CC0033  }
   
   .red4	{ color: #FF0099  }
   
   .redFF	{ color: #FF0000  }
   
	.right-align  { position: relative;
	           text-align: right; }  

	.royalBlue   { color: #3300FF  }
	
	.sec2  { font-family: Arial , sans-serif;
	   		  margin-bottom: 0;
			margin-top: .8em;
			font-size: 14pt;
	               font-weight: 500;
	               text-indent: 0; 
	          text-align: center;   
	          color: #993333;
               }	
	
	.section  {margin-top: .8em; 
			color: #990033; 
			font-size: 17pt;
			text-align: center;
			text-indent: 0;
			font-weight: 700;
			}

	.single { margin-top: 0;
					margin-bottom: 0 }
					
	.skill	{ text-align: center;
			  text-indent: 0;
		      color: #000066;
				font-family: Arial , sans-serif;
				font-weight: 700;
				font-size: 18pt;
				margin-top: .5em;
				}						

	.small	 {	font-size: 13pt;
			font-family: Garamond, serif;
			font-weight: 500;	
			}			

	.smallcaps { font-size: 11pt;
				  }
	
	.subtitle { font-family: Garamond, serif;
               color: #990033;
			   font-size: 24pt;
               font-weight: 700;
               font-style: normal;
               text-align: center; 
			   margin-top: .4em ;
				margin-bottom: 0;
				text-indent: 0; 
			   }
			   
		.summary	{ 	font-size: 12pt;  
               		font-family: Verdana, sans-serif;
					color: white;
					
				}
					
	/*This has a Border.  summaryAdd2 is a generic TD CLASS. */				
	.summaryBorder { margin-left:100px;
				     margin-right: 100px;
		             border-style: solid;
	                 border-width: 3px;
	                 border-color: #990000;
					 background-color: #5F5FFF;
					 margin-top: 1em;
					padding-left: 1em;
				 padding-right: 0em;
				 padding-top: .8em;
				 padding-bottom: .8em;
			}	
			
	.symbol { font-family: symbol;
	          font-size: 13pt;
	          font-style: italic;
	          }
	          
.tblC
     {	
	border-spacing:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin-top: .4em; }	          
	          
.tbl1C
     {	border-collapse:collapse;
	border-spacing:0;
	margin-left:auto;
	margin-right:auto;
	padding:1px;
	margin-top: .6em; }
	
.tbl0 { border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin-top: 0; }	
	
	
  .tbl2 {  
	border-spacing:0;
	padding:0;
	margin-top: .2em; }
	
  .tbl4 {  
	border-spacing:0;
	padding:0;
	margin-top: .4em; }	
	
  .tbl6 {  
	border-spacing:0;
	padding:0;
	margin-top: .6em; }	
	
    .tbl8 {  
	border-spacing:0;
	padding:0;
	margin-top: .8em; }
	
   .tbl8C {  
	border-spacing:0;
	padding:0;
	margin-top: .8em; 
	margin-left:auto;
	margin-right:auto;
	}	
	
   .tbl1 { border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin-top: 1em; }		
	
   .tbl12 { border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin-top: 1.2em; }
	
  .tbl15 {
	border-spacing:0;
	padding:0;
	margin-top: 1.5em; }	
	
  .tdback	{ background-color: #F3FFFF }
	
  .tdcontents	{ background-color: #EEFFFF }
	
  .tdindex	{ background-color: #000066 }
	
 .text	{ margin-left: 6%;
	          margin-top: 1em;
			  text-indent: 0
			  }
				  
.theorem	{ color: #880000;
			  font-weight: bold; 
			  font-size: 16pt;
			  }				  
   .title  { font-family: Arial, san-serif;
   		margin-bottom: 0;
		margin-top: .2em;
              color: #990033;
		font-size: 24pt;
               font-weight: bold;
               font-style: normal;
               text-align: center;
               text-indent: 0; 
               }
               
   .title2 {   margin-top: .6em;
		font-family: Arial, sans-serif;
		color:#990033;
		font-size: 20pt;
		font-weight: bold;
		font-style: normal;
		text-align: center;
		text-indent: 0; 
				   }  
				   
	.title2Sec { margin-top: .2em;
			       font-family: Arial, sans-serif;
				   color:#990033;
				   font-size: 22pt;
				   font-weight: bold;		
				   font-style: italic;
				   text-align: center; 
					text-indent: 0; 
					 }				   
				   
   .titleTh  { font-family: Arial narrow, sans-serif;
   				margin-bottom: 0;
				margin-top: .8em;
               color: #00BB00; 
			   font-size: 28pt;
               font-weight: bold;
               font-style: normal;
               text-align: center;
               text-indent: 0; 
               }               
               
   .titleTop  { font-family: Arial narrow, sans-serif;
   				margin-bottom: 0;
				margin-top: .7em;
               color: #000099;
			   font-size: 30pt;
               font-weight: bold;
               font-style: normal;
               text-align: center;
               text-indent: 0; 
               }              
               
	.top	{ text-align: center;
			  text-indent: 0;
			  color: green;
			  font-size: 15pt;
			  font-family: Garamond, serif;
			  margin-top: .6em;
			  margin-bottom: .7em;
			  }
	
	.topA	{ color: green;
				font-size: 15pt;
				text-indent: 0;
				font-weight: 500;
			  font-family: Garamond, serif;
			  }
			  
	.topic    { font-weight: 500;
	        		font-family: arial, sans-serif;
	        		text-align: center;
					text-indent: 0 ;
					font-size: 14pt;
					color: #000088;
					margin-top: .6em;
				}	
				
	.topic8  { font-weight: 500;
	        		font-family: arial, sans-serif;
	        		text-align: center;
					text-indent: 0 ;
					font-size: 14pt;
					color: #000088;
					margin-top: .8em;
				}				
				
	.topicTD    { font-weight: 500;
	        		font-family: arial, sans-serif;
					font-size: 14pt;
					color: #000088;
					margin-top: 1em;
				}					
				
	.transp	{ color: transparent }		
	
	
	    .tutor		{ 	text-indent: 0;
	                        margin: .7em 85px .6em 90px;
				font-family: Verdana, sans-serif;
				font-size: 12pt;
				color: #000066;
				font-weight: 700;
				font-style: italic;
							}	
							
		 .tutorLink   { color: #dd0000; 
		                   font-family: verdana, sans-serif;
		                   font-size: 13pt;
		                   font-style: italic;
                        }	
        .vbot { vertical-align: bottom;   }
        
         .vmid { vertical-align: middle;  }

        .vtop   { vertical-align: top; }                
                        
	
	.verdana	{ font-family: Verdana, sans serif;
				  font-size: 11pt;
				  font-weight: 700;
				  color: #000066;
				  }
				  
	.verdanaC	{ font-family: Verdana, sans serif;
				  font-size: 11pt;
				  font-weight: 700;
				  color: #000066;
				  text-align: center;
				  text-indent: 0;
				  margin-top: .7em;
				  }				  
				  
	.verdana5 	{ font-family: Verdana, sans serif;
				  font-size: 11pt;
				  font-weight: 500;
				  color: #000066;
				  }	
				  
	.verdana5ans 	{ font-family: Verdana, sans serif;
				  font-size: 11pt;
				  font-weight: 700;
				  color: #008855;
				  }	
				  
	.verdana5hide	{ font-family: Verdana, sans serif;
				  font-size: 11pt;
				  font-weight: 700;
				   background-color: #FFC0DD;
				color: #FFC0DD
				  }					  
				  
	.verdanaIt	{ font-family: Verdana, sans serif;
				  font-size: 12pt;
				  font-style: italic;
				  }			  
				  
	.verdana2	{ font-family: Verdana, sans serif;
				  font-size: 12pt;
				  color: #00003E;
				  }			  
				  
	.verdanaEm	{ font-family: Verdana, sans serif;
				  font-size: 14pt;
				  color: #0033aa;
				  font-style: italic;
				  font-weight: 500;
				  }	
				  
.verdanaBr	{ font-family: Verdana, sans serif;
				  font-size: 12pt;
				  color: #8b0000;
				  }				  
				  
	.verdanaWhite	{ font-family: Verdana, sans serif;
				  font-size: 12pt;
				  color:
				  white;
				  }
				  
	.yellow  { color: yellow  }

	.yellowBorder	{ 	border-style: solid;
             border-width: 4px;
             border-color: #FFDD00;
			 margin-left:100px;
			 margin-right: 100px;
			}
			
	.yellowBorderY	{	border-style: solid;
             border-width: medium;
             border-color: yellow;
             padding: .8em;
			}
			
	.yellowBorderB	{	border-style: solid;
             border-width: medium;
             border-color: blue;
             padding: .8em;
			}
			
   .z   {font-family: times new roman,serif;
         font-style: italic; }